body {
    font-family: Agile,system-ui,-apple-system,Segoe UI,Roboto,sans-serif;
}

table {
    padding-top: 1rem;
    padding-left: 1rem;
}

th {
    font-size: 3rem;
    text-align: left;
}

td {
    padding-bottom: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
}

tr:nth-child(even) {
    color: #9e0120;
}
